// В этом файле должны быть стили для БЭМ-блока banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.banner {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url('../img/banner-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-xs) {

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/banner-bg@2x.webp');

      .no-webp & {
        background-image: url('../img/banner-bg@2x.jpg');
      }
    }

    .no-webp & {
      background-image: url('../img/banner-bg.jpg');
    }
  }

  &__wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

    text-align: center;
  }

  &__heading {
    height: 20rem;
    margin: 0;
    margin-bottom: 4rem;
    overflow: hidden;
    perspective: 50rem;
  }

  &__text {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;

    transform: translateZ(8rem);
    opacity: 0;

    font-family: 'Oswald', sans-serif; // stylelint-disable-line
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3rem;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);

    /* stylelint-disable */
    &:nth-of-type(1) {
      animation: animateHeading 12s 3s infinite;
    }

    &:nth-of-type(2) {
      animation: animateHeading 12s 6s infinite;
    }

    &:nth-of-type(3) {
      animation: animateHeading 12s 9s infinite;
    }

    &:nth-of-type(4) {
      animation: animateHeading 12s 12s infinite;
    }
    /* stylelint-enable */
  }

  &__paragraph {
    width: 30%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-left: auto;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;

    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
    animation: fadeAnimation 1s 1.5s forwards;
  }

  &__btn.btn {
    position: relative;
    width: 30rem;
    height: 6rem;
    border: 0.1rem solid #800505;
    border-radius: 3rem;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;

    background: linear-gradient(to right, #9b0e0e, #7a1010);
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: fadeAnimation 1s 2s forwards;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;

      transform: skewX(-30deg);
      transition: left 0.5s;
      background: linear-gradient(to right, transparent, #fff, transparent);
    }

    &:hover::before {
      left: 100%;
      color: #fff;
    }
  }
}

@keyframes animateHeading {

  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

@keyframes fadeAnimation {

  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
