extends ../pug/layout.pug

append config
  -
    currentTitle = 'Business Agency'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header
  nav.navbar
    +logo('#')
      span C
      |ode
      span A
      |nd
      span C
      |reate

    .navbar__list
      a.navbar__link(href='#home') Home
      a.navbar__link(href='#about-us') About
      a.navbar__link(href='#pricing') Pricing
      a.navbar__link(href='#contact') Blog
      a.navbar__link(href='#contact') Contact
  ///.navbar

  .menu
    .menu__line
    .menu__line
    .menu__line
  ///.menu

block content
  section.banner#home
    .banner__wrapper
      h2.banner__heading
        span.banner__text Business Ideas
        span.banner__text Consulting
        span.banner__text Digital Marketing
        span.banner__text Strategy
      p.banner__paragraph Lorem ipsum dolor sit.
      +btn('Discover Now').banner__btn
  ///.banner

  section.about-us#about-us
    h2.section-heading About Us
    .section-heading__line
    .video__wrapper
      video.video(src='video/about-us-video.mp4')
      .video__controls
        .video__bar-wrapper
          .video__bar
        .video__buttons
          +btn()
            i.fas.fa-play-circle
    p.about-us__paragraph
      i.fas.fa-quote-left
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro consectetur et fuga, esse nobis, distinctio provident quisquam, aperiam animi repellat facere? Maiores corrupti provident neque vero quos quasi nemo, odit odio veritatis facilis non, cupiditate numquam rem iste. Ullam.
      i.fas.fa-quote-right
  ///.about-us

  section.pricing#pricing
    h2.section-heading Pricing
    .section-heading__line

    .swiper.pricingSwiper
      .pricing__cards-wrapper.swiper-wrapper

        .pricing__card.swiper-slide
          .pricing__card-front
            h3.pricing__card-heading.pricing__card-heading--free Free
            h4.pricing__card-price $0
            ul.pricing__card-list.pricing__card-list--free
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-times
                span Pricing Card Item
              li
                i.fas.fa-times
                span Pricing Card Item
              li
                i.fas.fa-times
                span Pricing Card Item
            +btn('Choose Plan','free').pricing__card-button
          .pricing__card-back.pricing__card-back--free
            a(href='#') Order Now
        ///.pricing__card

        .pricing__card.swiper-slide
          .pricing__card-front
            h3.pricing__card-heading.pricing__card-heading--basic Basic
            h4.pricing__card-price $299
            ul.pricing__card-list.pricing__card-list--basic
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-times
                span Pricing Card Item
            +btn('Choose Plan','basic').pricing__card-button
          .pricing__card-back.pricing__card-back--basic
            a(href='#') Order Now
        ///.pricing__card

        .pricing__card.swiper-slide
          .pricing__card-front
            h3.pricing__card-heading.pricing__card-heading--standard Standard
            h4.pricing__card-price $699
            ul.pricing__card-list.pricing__card-list--standard
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
            +btn('Choose Plan','standard').pricing__card-button
          .pricing__card-back.pricing__card-back--standard
            a(href='#') Order Now
        ///.pricing__card

        .pricing__card.swiper-slide
          .pricing__card-front
            h3.pricing__card-heading.pricing__card-heading--premium Premium
            h4.pricing__card-price $999
            ul.pricing__card-list.pricing__card-list--premium
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
              li
                i.fas.fa-check
                span Pricing Card Item
            +btn('Choose Plan','premium').pricing__card-button
          .pricing__card-back.pricing__card-back--premium
            a(href='#') Order Now
        ///.pricing__card

  ///.pricing

  section.contact#contact
    h2.section-heading Contact
    .section-heading__line

    .contact__wrapper
      .contact__details
        .contact__phone
          i.fas.fa-mobile-alt
          h3 Phone
          p +123 456 789
          p +987 654 321

        .contact__address
          i.fas.fa-map-marker-alt
          h3 Address
          p Main Street 123
          p Wall Street 321

        .contact__email
          i.fas.fa-envelope
          h3 Email
          p support@gmail.com
          p sales@gmail.com

      h2.contact__form-heading Get in touch
      +form().contact__form
          +field-text({
            attrs: {
              type: 'text',
              name: 'Name',
              placeholder: 'Your Name'
            }
          })
          +field-text({
            attrs: {
              type: 'email',
              name: 'Email',
              placeholder: 'Your Email'
            }
          })
          +field-text({
            isTextarea: true,
            attrs: {
              name: 'Comment',
              placeholder: 'Your Message'
            }
          })
          +btn('Send message', '', true)(type='submit')
  ///.contact

block footer
  +page-footer()
    .page-footer__nav
      a(href='#home') Home
      a(href='#about-us') About Us
      a(href='#pricing') Pricing
      a(href='#contact') Contact

    p.page-footer__copyright
      | Copyright &copy; CodeAndCreate All Rights Reserved
  ///.page-footer
