extends ../pug/layout.pug

append config
  -
    currentTitle = 'Business Agency'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header

block content
  section.banner
    .banner__wrapper
      h2.banner__heading
        span.banner__text Business Ideas
        span.banner__text Consulting
        span.banner__text Digital Marketing
        span.banner__text Strategy
      p.banner__paragraph Lorem ipsum dolor sit.
      +btn('Discover Now').banner__btn
  ///.banner
