extends ../pug/layout.pug

append config
  -
    currentTitle = 'Business Agency'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header
  nav.navbar
    +logo('#')
      span C
      |ode
      span A
      |nd
      span C
      |reate

    .navbar__list
      a.navbar__link(href='#') Home
      a.navbar__link(href='#') About
      a.navbar__link(href='#') Pricing
      a.navbar__link(href='#') Blog
      a.navbar__link(href='#') Contact
  ///.navbar

  .menu
    .menu__line
    .menu__line
    .menu__line
  ///.menu

block content
  section.banner
    .banner__wrapper
      h2.banner__heading
        span.banner__text Business Ideas
        span.banner__text Consulting
        span.banner__text Digital Marketing
        span.banner__text Strategy
      p.banner__paragraph Lorem ipsum dolor sit.
      +btn('Discover Now').banner__btn
  ///.banner
