extends ../pug/layout.pug

append config
  -
    currentTitle = 'Business Agency'
    currentDescription = 'Website'
    currentUrl = 'index.html'

block header
  nav.navbar
    +logo('#')
      span C
      |ode
      span A
      |nd
      span C
      |reate

    .navbar__list
      a.navbar__link(href='#') Home
      a.navbar__link(href='#') About
      a.navbar__link(href='#') Pricing
      a.navbar__link(href='#') Blog
      a.navbar__link(href='#') Contact
  ///.navbar

  .menu
    .menu__line
    .menu__line
    .menu__line
  ///.menu

block content
  section.banner
    .banner__wrapper
      h2.banner__heading
        span.banner__text Business Ideas
        span.banner__text Consulting
        span.banner__text Digital Marketing
        span.banner__text Strategy
      p.banner__paragraph Lorem ipsum dolor sit.
      +btn('Discover Now').banner__btn
  ///.banner

  section.about-us
    h2.section-heading About Us
    .section-heading__line
    .video__wrapper
      video.video(src='video/about-us-video.mp4')
      .video__controls
        .video__bar-wrapper
          .video__bar
        .video__buttons
          +btn()
            i.fas.fa-play-circle
    p.about-us__paragraph
      i.fas.fa-quote-left
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro consectetur et fuga, esse nobis, distinctio provident quisquam, aperiam animi repellat facere? Maiores corrupti provident neque vero quos quasi nemo, odit odio veritatis facilis non, cupiditate numquam rem iste. Ullam.
      i.fas.fa-quote-right

  ///.about-us
