// В этом файле должны быть стили для БЭМ-блока video, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.video {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.3s;

  &__wrapper {
    position: absolute;
    top: 5rem;
    right: 15rem;
    width: 100rem;
    height: 50rem;
    overflow: hidden;

    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);

    &:hover {

      #{$block-name}__controls {
        transform: translateY(0);
      }
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(100% - 0.4rem));
    transition: transform 0.4s;

    background-color: rgba(0, 0, 0, 0.7);
  }

  &__buttons {
    padding: 1rem;
    padding-top: 2rem;

    .btn {
      border: none;
      background: none;
      cursor: pointer;

      &:focus {
        border: none;
        outline: none;
      }
    }

    i {
      width: 3rem;
      height: 3rem;

      font-size: 2.8rem;
      color: #fff;
    }
  }

  &__bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.7rem;

    background-color: #000;
  }

  &__bar {
    width: 0;
    height: 100%;

    transition: width 0.3s linear;
    background-color: #d30819;
  }
}
